html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Viewport height */
}

.nav-link:hover {
    background-color: darkgrey; /* Added background color */
    border-radius: 10px; /* Optional: Rounded corners */
}

.nav-link {
    text-decoration: none;
    color: darkslategray;
    transition: background-color 0.1s, color 0.1; /* Smooth transition */
}

