@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <h2>Introduction</h2>
    <p>Welcome to [Your Organization Name]. Your privacy is critical to us. This privacy policy outlines our practices
        concerning the collection, use, and sharing of your personal data. By visiting our website, you agree to the
        terms of this policy.</p>

    <h2>Information We Collect</h2>
    <p>We collect various types of information, such as:</p>
    <ul>
        <li>Identifiable information like your name, email address, and phone number.</li>
        <li>Anonymous data that we gather via cookies and web beacons while you browse our site, which helps us
            understand user behavior and improve our services.</li>
    </ul>

    <h2>Use of Your Data</h2>
    <p>We may use your data to:</p>
    <ul>
        <li>Process your donations.</li>
        <li>Keep you informed about our activities.</li>
        <li>Improve our services and website.</li>
        <li>Respond to any questions or requests you may have.</li>
    </ul>

    <h2>Data Sharing and Disclosure</h2>
    <p>Your privacy is crucial to us. We do not sell your data to third parties. We may share your data with third-party
        service providers that help us operate our website and fulfill your requests.</p>

    <h2>Cookies</h2>
    <p>We utilize cookies to enhance your experience and analyze site traffic. You can choose to disable cookies through
        your browser, but this may affect your ability to use certain features of our website.</p>

    <h2>Security</h2>
    <p>We prioritize protecting your personal information and have put in place physical and electronic safeguards to
        secure the information we collect online. However, please note that no system is entirely secure.</p>

    <h2>Changes to Privacy Policy</h2>
    <p>We may update our privacy policy from time to time. Any changes will be posted on this page, and if significant
        changes are made, we will notify you through our website or via email.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns regarding our privacy policy, please contact us at [your contact email or
        form].</p>

        <br>
</section>
